body {
 background: #444444
}
.row {
 margin-right: auto; margin-left: auto; width: 500px;
}
.full {
 margin-right: auto; margin-left: auto; width: 500px;
}
.button {
 border-top: 1px solid #96d1f8; background: #65a9d7; background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7)); background: -webkit-linear-gradient(top, #3e779d, #65a9d7); background: -moz-linear-gradient(top, #3e779d, #65a9d7); background: -ms-linear-gradient(top, #3e779d, #65a9d7); background: -o-linear-gradient(top, #3e779d, #65a9d7); padding: 7px 14px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; box-shadow: rgba(0,0,0,1) 0 1px 0; text-shadow: rgba(0,0,0,.4) 0 1px 0; color: white; font-size: 24px; font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif; text-decoration: none; vertical-align: middle; text-align: center; width: 495px;
}
.button:hover {
 border-top-color: #28597a; background: #28597a; color: #ccc;
}
.button:active {
 border-top-color: #1b435e; background: #1b435e;
}
input {
 color: #444; font-size: 140%; margin-bottom: 5px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #444; padding: 10px; background: #eeeeff;
}
input:focus {
 outline: none; color: black;
}
.logo {
 margin-right: auto; margin-left: auto; font-family: verdana, sans-serif; color: #65A9D7; font-size: 130px; font-weight: bold; font-variant: small-caps; text-align: center; padding-left: 20px;
}